includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
    - phpstan-baseline.neon
parameters:
    level: max
    inferPrivatePropertyTypeFromConstructor: true
    scanFiles:
        - vendor/php-stubs/wp-cli-stubs/wp-cli-stubs.php
    paths:
        - notification.php
        - load.php
        - uninstall.php
        - src/
        - compat/
    excludePaths:
        - dependencies/
        - src/Utils/EDDUpdater.php
