includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
    - phpstan-baseline.neon
parameters:
    level: max
    inferPrivatePropertyTypeFromConstructor: true
    bootstrapFiles:
        - tests/phpstan/bootstrap.php
    stubFiles:
        - tests/phpstan/stubs/Filesystem.stub
    scanFiles:
        - vendor/php-stubs/wp-cli-stubs/wp-cli-stubs.php
    paths:
        - notification.php
        - load.php
        - uninstall.php
        - src/
        - compat/
    excludePaths:
        - src/Utils/EDDUpdater.php
    ignoreErrors:
        # Uses func_get_args()
        - '#^Function apply_filters(_ref_array)? invoked with [34567] parameters, 2 required\.$#'
