.notification-field.fields-repeater {
	width: 100%;
	margin-bottom: 10px;
	border: 0;
	border-collapse: collapse;
	table-layout: fixed;

	tr {

		&.model {
			display: none;
		}

		td,
		th {
			width: auto;
			padding: 12px;
			background-color: #fff;
			border: 1px solid #e5e5e5;

			&.handle,
			&.sub-handle,
			&.trash {
				background: #f5f5f5;
				white-space: nowrap;
				width: 40px;
				text-align: center;
				padding: 0;
				color: #a5a5a5;

				@media ( max-width: 782px ) {
					width: calc(100% - 22px);
					height: 30px;
					line-height: 30px;
					padding: 0 10px;
				}
			}

			&.handle,
			&.sub-handle {
				position: relative;

				&::after {
					display: none;
					content: "\f545";
					font: 400 20px/1 dashicons, sans-serif;
					line-height: 30px;
				}

				@media ( max-width: 782px ) {
					position: relative;

					&::before,
					&::after {
						position: absolute;
					}

					&::before {
						left: 10px;
						top: -1px;
					}

					&::after {
						right: 10px;
						top: 0;
					}
				}

				.handle-index {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}

				&:hover {

					.handle-index {
						opacity: 0;
					}
				}
			}

		}

		th {

			small {
				display: block;
				font-weight: 400;
			}

		}

		td {

			&.subfield {

				.row-header {
					display: none;

					@media ( max-width: 782px ) {
						display: block;
						margin-bottom: 5px;
					}
				}

			}

			&.trash {

				@media ( max-width: 782px ) {
					position: relative;
				}

				&::after {
					display: none;
					content: "\f182";
					font: 400 20px/1 dashicons, sans-serif;
					line-height: 30px;

					@media ( max-width: 782px ) {
						position: absolute;
						display: block;
						right: 10px;
						top: 0;
					}
				}

			}

		}

		&:hover {

			td.trash {
				cursor: pointer;

				&::after {
					display: block;
				}

				&:hover {

					&::after {
						color: #a00;
					}

				}

			}

		}

	}

	&.fields-repeater-sortable {

		tr {

			td {

				&.handle,
				&.sub-handle {

					@media ( max-width: 782px ) {

						&::after {
							display: block;
						}
					}

				}

			}

			&.ui-sortable-placeholder {
				counter-increment: rowNumber 0;
				visibility: visible !important;

				@media ( max-width: 782px ) {
					height: auto !important;
				}

				td {
					background-color: #f5f5f5;

					@media ( max-width: 782px ) {
						border-top: 0;
						border-bottom: 0;

						&:first-child {
							border-top: 1px solid #e5e5e5;
						}

						&:last-child {
							border-bottom: 1px solid #e5e5e5;
						}
					}

					@media ( min-width: 783px ) {
						border-left: 0;
						border-right: 0;

						&:first-child {
							border-left: 1px solid #e5e5e5;
						}

						&:last-child {
							border-right: 1px solid #e5e5e5;
						}
					}
				}
			}

			&.ui-sortable-helper {
				display: table;
			}

			&:hover {

				td.handle,
				td.sub-handle {
					cursor: move;

					&::before {

						@media ( min-width: 783px ) {
							display: none;
						}

					}

					&::after {
						display: block;
					}

				}

			}

		}

	}

}

.add-new-repeater-field {
	float: right;
}
