.notification-field.fields-repeater {
	/* stylelint-disable */
	.subfield.nested_repeater {
	/* stylelint-enable */

		@media (max-width: 782px) {
			padding-bottom: 50px;
		}
	}

	.add-new-repeater-field {
		float: right;
		margin-top: 4px;
	}

	.nested-repeater-fields {

		table {

			@media ( max-width: 1680px ) {
				width: 100%;
			}
		}

		tr.row {

			@media ( max-width: 1680px ) {
				display: flex;
				flex-direction: column;
			}

			td {

				@media ( max-width: 1680px ) {
					width: calc(100% - 24px);
				}

				&.trash,
				&.sub-handle {
					width: 20px;

					@media ( max-width: 1680px ) {
						width: 100%;
						height: 30px;
					}

					@media (max-width: 782px) {
						width: calc(100% - 20px);
						margin-left: auto;
						margin-right: auto;
					}
				}

				&.sub-handle {

					@media (max-width: 1680px) {
						margin-bottom: 9px;
					}

					&::before {
						display: none;
					}
				}

				&.trash {

					@media (max-width: 1680px) {
						margin-top: 9px;
					}
				}
			}
		}
	}


}
