/**
 * Notifications styles
 */

body.post-type-notification {

	.selectize-control .selectize-dropdown .caption {
		font-size: 12px;
		display: block;
		color: #a0a0a0;
		margin-left: 8px;
	}

	.selectize-control .selectize-dropdown .label {
		margin-left: 8px;
	}

	.selectize-control .selectize-dropdown div[data-selectable] {
		margin-bottom: 5px;
	}

}
