/**
 * Notifications styles
 */

body.post-type-notification {

	.selectize-control .selectize-dropdown .caption {
		font-size: 12px;
		display: block;
		color: #a0a0a0;
	}

	.selectize-control .selectize-dropdown div[data-selectable] {
		padding: 6px 8px;
	}

}
