/**
 * Notifications styles
 */

body.post-type-notification {

	.carriers-section-title {
		margin-top: 2em;
	}

	#carrier-boxes {

		.carrier_button {
			display: block;
			width: 100%;
			border: 2px solid dashed;
			font-size: 20px;
			color: #A5A5A5;
			box-shadow: none;
			border: 1px solid #E5E5E5;
			padding: 26px;
			background-color: transparent;
			transition: all .2s linear;
			cursor: pointer;

			&:hover {
				background-color: #0977AC;
				color: #fff;
				border-color: #0977AC;
			}
		}

		.carrier_add {
			visibility: hidden;
			height: 0;
			transition: all .5s linear;

			&.shown {
				visibility: visible;
				opacity: 1;
				height: auto;
			}

			span.dashicons {
				margin-bottom: 2px;
				margin-right: 5px;
				vertical-align: middle;
			}
		}

		.carrier_abort {
			font-size: 13px;
			border: none;

			&:hover {
				color: #0977AC;
				background: transparent;
			}
		}

		.carrier-wizard {
			display: none;
			flex-wrap: wrap;
			justify-content: space-evenly;
			transition: all .5s linear;
		}

		.carrier-tile {
			width: 178px;
			cursor: pointer;
			position: relative;
			border: 1px solid #e5e5e5;
			box-shadow: 0 1px 1px rgba(0,0,0,.04);

			.inside {
				margin: 0;
			}

			&-hover {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 0;
				visibility: hidden;
				background: rgba(0,0,0,0.8);
				color: #fff;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				transition: all .2s linear;

				span {
					width: 65px;
					height: 65px;

					&::before {
						font-size: 65px;
					}
				}
			}

			&:hover {
				.carrier-tile-hover {
					opacity: 1;
					visibility: visible;
				}
			}

			.tile-image {
				border: 1px solid #e5e5e5;
				box-shadow: 0px 1px 2px rgba(0,0,0,0.04);
				background: #fff;
				padding: 33px 40px;
				svg {
					max-width: 100%;
					height: auto;
				}
			}
		}

		.carrier-panel {
			visibility: hidden;
			height: 0;
			opacity: 0;
			transition: all .5s linear;

			&.shown {
				visibility: visible;
				opacity: 1;
				height: auto;
			}
		}

		.postbox {

			h2.hndle {
				cursor: pointer;
			}

			.delete-container {
				position: absolute;
				right: 5px;
				top: -4px;
				text-align: center;

				.delete-carrier {
					cursor: pointer;
					font-size: 0;
					box-shadow: none;
					background-color: transparent;
					color: #888888;
					border: none;

					&:hover {
						color: #AA0000;
					}
				}
			}

			.inside {

				.form-table {
					@media ( max-width: 1200px ) {

						>tbody {
							>tr {
								>th, >td {
									display: block;
									    padding: 10px 10px 5px 10px;
								}
							}
						}

					}
				}
			}

		}

	}

}
