/**
 * Deactivation popup styles
 */

#TB_window {
	max-width: 500px;
	width: 500px;
	max-height: 400px;

	&:before {
		background-image: none !important;
	}

	#TB_ajaxContent {
		width: 100% !important;
		height: 100% !important;
		box-sizing: border-box;

		.reasons label {
			margin-bottom: 1em;
			display: block;
		}

	}

}

