/**
 * Global stylesheet
 */

.selectize-dropdown {
	z-index: 999999;

	&.single {
		border-color: #e5e5e5;
	}

}

.selectize-control.single .selectize-input {
	background-color: #ffffff;
	background-image: none;
	border-color: #e5e5e5;
}

.selectize-control.multi .selectize-input {

	[data-value] {
	    text-shadow: none;
	    background-color: #eeeeee;
	    background-image: linear-gradient(to bottom, #f4f4f4, #dfdfdf);

	    &.active {
	    	background-color: #dddddd;
		    background-image: linear-gradient(to bottom, #eeeeee, #cfcfcf);
		    color: #535353;
		    border: 1px solid #c0c0c0;
	    }

	}

	> div {
	    color: #535353;
	    border: 1px solid #c0c0c0;
	}

}


/**
 * On/Off switch
 */

.onoffswitch {
	position: relative;
	width: 66px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;

	.onoffswitch-checkbox {
		display: none !important;

		&:checked + .onoffswitch-label {

			.onoffswitch-inner {
				margin-left: 0;
			}

			.onoffswitch-switch {
				right: 0px;
				background-color: #7dcc4c;
				border-color: #7dcc4c;
			}

		}

	}

	.onoffswitch-label {
		display: block;
		overflow: hidden;
		cursor: pointer;
		border-radius: 50px;
	}

	.onoffswitch-inner {
		display: block;
		width: 200%;
		margin-left: -100%;
		transition: margin 0.2s ease-in 0s;

		&:before,
		&:after {
			display: block;
			float: left;
			width: 50%;
			height: 30px;
			padding: 0;
			line-height: 30px;
			font-size: 12px;
			color: white;
			font-family: Trebuchet, Arial, sans-serif;
			font-weight: bold;
			box-sizing: border-box;
		}

		&:before {
			content: "ON";
			padding-left: 12px;
			background-color: #EEEEEE;
			color: #707070;
		}

		&:after {
			content: "OFF";
			padding-right: 8px;
			background-color: #EEEEEE;
			color: #707070;
			text-align: right;
		}

	}

	.onoffswitch-switch {
		display: block;
		width: 19px;
		margin: 4px;
		background: #A1A1A1;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 34px;
		border: 2px solid #999999;
		border-radius: 50px;
		transition: all 0.2s ease-in 0s;
	}

	&.loading {

		.onoffswitch-switch {
			animation: sk-scaleout 1.0s infinite ease-in-out;
		}

		@keyframes sk-scaleout {
			0% {
				transform: scale(0);
			} 100% {
				transform: scale(1.0);
				opacity: 0;
			}
		}

	}

}
