/**
 * Import/Export styles
 */

.notification-settings .section-import_export {

	p.submit {
		display: none;
	}

	.message {

		&.error {
			color: red;
		}

		&.success {
			color: #00ad00;
		}

	}

}
