/**
 * Message styles for notifications
 */

.notification-notice {
	overflow: auto;

	.dismiss-beg-message {
		float: right;
	}

	.dismiss-beg-email-message {
		float: right;
	}

	#mc_embed_signup {
		float: left;
	}

}
