/**
 * Metabox styles for Notification post type
 */

#notification_merge_tags .inside {

	ul {

		li {

			code {
				cursor: pointer;
				word-wrap: nowrap;
			}

		}

	}

}

// Core submit metabox

body.post-type-notification {

	#submitdiv {

		#visibility {
			display: none;
		}

	}

}
