/**
 * Metabox styles for Notification post type
 */

#notification_merge_tags .inside {

	ul {

		li {

			code {
				cursor: pointer;
				word-wrap: nowrap;
			}

		}

	}

}

// Core submit metabox

body.post-type-notification {

	#notification_save {

		.inside {
		    margin: 0;
		    padding: 0;

		    .misc-pub-section {
		    	padding: 10px;
		    	overflow: auto;

		    	.row-label {
		    		float: left;
		    		line-height: 34px;
		    	}

		    	.onoffswitch {
		    		float: right;
		    	}

		    }

		}

	}

}
