/**
 * Settings styles
 */

.underdev-settings {

	h1 {
		margin-bottom: 16px;
	}

	.box {
		background: #fff;
		border: 1px solid #e5e5e5;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
		box-sizing: border-box;
		color: #555;
		margin: 0 0 2rem 0;
		padding: 15px;

		h3 {
			margin-top: 0;
		}
	}

	.setting-col {
		font-size: 15px;
		margin-left: 320px;

		@include mobile {
			margin-left: 0;
			width: 100%;
		}

		.setting-group {
			margin-bottom: 2em;

			&:last-child {
				margin-bottom: 0;
			}

			&-header {
				position: relative;

				a {
					cursor: pointer;
					text-decoration: none;

					&:focus {
						box-shadow: none;
					}
				}

				&::after {
					border-radius: 50%;
					content: "\f142";
					display: inline-block;
					font: 400 20px/1 dashicons, sans-serif;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					position: absolute;
					right: 0;
					speak: none;
					text-indent: -1px;
					top: 5px;
					transform: rotate(180deg);
					transition: all 0.3s ease-in-out;
					width: 20px;
				}

				&.open {

					&::after {
						transform: rotate(0);
					}
				}
			}

			h3 {
				border-bottom: 1px solid #e4e4e4;
				font-weight: 400;
				margin: 4px 0;
				padding-bottom: 16px;
			}

			.form-table {
				clear: none;

				th {
					font-weight: 400;
				}

				td pre code {
					display: block;
					padding: 1rem;
				}

				small.description {
					display: block;
					margin-top: 10px;
				}

				.message-setting-table {
					border-collapse: collapse;
					width: 100%;

					td {
						border: 1px solid #ccc;
					}

					thead td {
						background: #f9f9f9;
						font-weight: 600;
					}

				}

			}

		}

	}

	.menu-col {
		float: left;
		margin-right: 40px;
		padding-left: 0;
		width: 280px;

		@include mobile {
			float: none;
			margin: 0 0 40px 0;
			width: 100%;
		}

		.menu-list {
			padding: 15px 0;

			li {
				display: block;
				margin: 12px 0;
				padding-left: 15px;

				a {
					color: #555;
					display: block;
					font-size: 18px;
					padding: 6px 0;
					text-decoration: none;
					text-transform: uppercase;
				}

				&.current {
					border-left: 4px solid #666;
					padding-left: 11px;

					a {
						color: #23282d;
					}

				}

				&:first-child {
					margin-top: 0;
				}

				&:last-child {
					margin-bottom: 0;
				}

			}

		}

	}

	.selectize-dropdown {
		z-index: 999999;
	}

	.selectize-control.multi .selectize-input {

		[data-value] {
			background-color: #eee;
			background-image: linear-gradient(to bottom, #f4f4f4, #dfdfdf);
			text-shadow: none;

			&.active {
				background-color: #ddd;
				background-image: linear-gradient(to bottom, #eee, #cfcfcf);
				border: 1px solid #c0c0c0;
				color: #535353;
			}

		}

		> div {
			border: 1px solid #c0c0c0;
			color: #535353;
		}

	}

}
